@charset "UTF-8";

/*
#41BCFA
#080A4B
#71A5C0
#2AA0A2
#3263C0

*/

:root{
    --cor1:#080A4B;
    --cor2:#3263C0;
    --cor3:#71A5C0;
    --cor4:#41BCFA;
    --cor5:#2AA0A2;
}

main{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor3));
}

header{
    background-color: var();
    min-height: 150px;
    text-align: center;
    padding: 40px;
}